/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); }

.tab {
  display: none; }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0; }
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default; }
    .tab:checked + label:hover {
      box-shadow: 0 -1px 0 #fff inset;
      background-color: #fff; }
  .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px; }
    .tab + label:hover {
      background-color: #f9f9f9;
      box-shadow: 0 1px 0 #f4f4f4 inset; }
  .tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px; }

.headleBlock {
  line-height: 24px;
  overflow: hidden;
  padding: 10px 6px;
  background: #fbfbfb;
  color: #8590a6;
  font-size: 15px;
  border: 1px solid #e7eaf1;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
  box-sizing: border-box; }

.table-with-btn {
  transition: 0.3s box-shadow ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .table-with-btn:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); }

.headleBlock .control-group {
  margin: 0px; }
.headleBlock .btn {
  background: #2693c2;
  color: #fdfcff;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px; }
  .headleBlock .btn:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.03), inset 0 -1px 2px rgba(102, 190, 255, 0.75), inset 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #2ab2e5; }
  .headleBlock .btn:active {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px -1px 3px rgba(102, 190, 255, 0.5) inset, 0px 3px 2px rgba(0, 0, 0, 0.5) inset; }

.contentBlock {
  overflow: scroll;
  margin: 0 0 3em  0; }
  .contentBlock .responstable {
    position: relative;
    margin: 0 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 0;
    border: 1px solid #167F92; }
    .contentBlock .responstable tr {
      border: 1px solid #D9E4E6; }
      .contentBlock .responstable tr:nth-child(odd) {
        background-color: #EAF3F3; }
    .contentBlock .responstable th {
      display: none;
      border: 1px solid #FFF;
      background-color: #2693c2;
      color: #FFF;
      padding: 1em; }
      .contentBlock .responstable th:first-child {
        display: table-cell;
        text-align: center; }
      .contentBlock .responstable th:nth-child(2) {
        display: table-cell; }
        .contentBlock .responstable th:nth-child(2) span {
          display: none; }
        .contentBlock .responstable th:nth-child(2):after {
          content: attr(data-th); }
      @media (min-width: 480px) {
        .contentBlock .responstable th:nth-child(2) span {
          display: block; }
        .contentBlock .responstable th:nth-child(2):after {
          display: none; } }
    .contentBlock .responstable td {
      display: block;
      word-wrap: break-word;
      max-width: 7em; }
      .contentBlock .responstable td:first-child {
        display: table-cell;
        text-align: center;
        border-right: 1px solid #D9E4E6; }
      @media (min-width: 480px) {
        .contentBlock .responstable td {
          border: 1px solid #D9E4E6; } }
    .contentBlock .responstable th, .contentBlock .responstable td {
      text-align: left;
      margin: .5em 1em; }
      @media (min-width: 480px) {
        .contentBlock .responstable th, .contentBlock .responstable td {
          display: table-cell;
          padding: 1em; } }

/*# sourceMappingURL=tableSheet.css.map */
